<%- include('./fragments/header.ejs') %>

<main class="snakeGame">
    <h2>Snake</h2>

    <canvas id="canvas" width="500" height="500"></canvas>
    <script src="/js/utils/snake.js"></script>
</main>

<%- include('./fragments/footer.ejs') %>